<!DOCTYPE html>
<html>
<head>
  <title>Epiceditor</title>
  <%= stylesheet_link_tag    "epiceditor/application", media: "all" %>
  <%= javascript_include_tag "epiceditor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
